<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="chris.sesi.com.minegociomk">

    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Registro"
            android:label="@string/title_activity_registro"
            android:parentActivityName=".MenuPrincipal"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MenuPrincipal" />
        </activity>
        <activity
            android:name=".MenuPrincipal"
            android:label="@string/title_activity_menu_principal"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".FormNuevoCliente"
            android:label="@string/title_activity_form_nuevo_cliente"
            android:parentActivityName=".MenuPrincipal"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MenuPrincipal" />
        </activity>
        <activity
            android:name=".ClientList"
            android:label="@string/title_activity_client_list"
            android:parentActivityName=".MenuPrincipal"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MenuPrincipal" />
        </activity>
        <activity
            android:name=".Edit_Client"
            android:label="@string/title_activity_edit__client"
            android:parentActivityName=".ClientList"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ClientList" />
        </activity>
        <activity
            android:name=".Catalogo"
            android:label="@string/title_activity_catalogo"
            android:parentActivityName=".MenuPrincipal"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MenuPrincipal" />
        </activity>
        <activity
            android:name=".Inventario"
            android:label="@string/title_activity_inventario"
            android:parentActivityName=".MenuPrincipal"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MenuPrincipal" />
        </activity>
        <activity
            android:name=".FormAgregarStock"
            android:label="@string/title_activity_form_agregar_stock"
            android:parentActivityName=".Inventario"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Inventario" />
        </activity>
        <activity
            android:name=".Venta"
            android:label="@string/title_activity_venta"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait"/>

        <activity android:name=".FormNuevaConsultora"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden"/>
        <activity
            android:name=".ConsultoraList"
            android:label="@string/title_activity_consultora_list"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MenuPrincipal" />
        </activity>
    </application>

</manifest>